@charset "utf-8";
/* CSS Document */
* {
				margin:0px;
				padding:0px;
			}
			

			
			ul, ol {
				list-style:none;
				
			}
			
			#ml > li {
				float:left;
				
			}
			
			#menu_despegable li a {
				background-color:#F8F8F8;
				color:#777777;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			#menu_despegable li a:hover {
				color:#333333;
				
			}
			
			#menu_despegable li ul {
				display:none;
				position:absolute;
				min-width:140px;
				
			}
			
			#menu_despegable li:hover > ul {
				display:block;

				
				
			}
			
			#menu_despegable li ul li {
				position:relative;
				
			}
			
			#menu_despegable li ul li ul {
				right:-140px;
				top:0px;
			}
