
h6 {
	text-transform: uppercase;
	line-height: 1.5;
	font-weight: 900;
}

select.initialized {
	display: none;
}

form p {
	margin: 10px 0 !important;
}

.collapsible-body .row {
	margin-left: 0;
	width: 100%;
}

.side-nav {
	overflow-x: hidden;
}

.side-nav .md-20 {
	margin-right: 20px;
}

.side-nav .dropdown-content {
	top: auto !important;
}

#tiempo_horas{
	color: #333333;
	font-size: 40px;	
}

.tema{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.titulo{
	font-size: 18px;
}
.subtitulo{
	font-size: 12px;
}

.scroll {    
    width: 100%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}




#mobile-demo li.search .search-wrapper {    
    transition: margin .25s ease;
    transition-property: margin;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
}

div.search-wrapper i{
	position: absolute;
	top: 20px;
	left:170px;
}
div.search-wrapper input#search{
	position: relative;
	left:10px;
	border: none;
}


select{
	display: block;
}
@media (min-width: 10px){
	.button-collapse i{
		position: relative;
		top:-40px;
	}
	.page-title{
		position: relative;
		left:10px;
	}
}
@media (min-width: 1023px){
	.row{
		margin-left:206px;
		width: 79%;
	}
	.page-title{
		position: relative;
		left:70px;
	}
	
}
@media (min-width: 1279px){
	.row{
		margin-left:210px;
		width: 83%;
	}
}
@media (min-width: 1439px){
	.row{
		margin-left:208px;
		width: 85%;
	}
}
@media (min-width: 1899px){
	.row{
		margin-left:208px;
		width: 89%;
	}
	.page-title{
		position: relative;
		left:-80px;
	}
}

