/*-------------------------- menu --------------------------*/
.logo-menu{
	padding-bottom: 50px;
}
.bold>a {
    font-weight: bold;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 30px;
}
.side-nav a {
    height: auto; 
}
/*-------------------------- indicadores --------------------------*/
select.initialized{
	display: none;
}
.center{
	text-align: center;
}
/*--------------------------Theme Basis-------------------------*/
body{
	overflow-x: hidden;
	//font-family: 'Titillium Web', sans-serif !important;
}
h3 {
  background: #ee6e73;
  width: 60%;
  height: 50px;
  position: relative;
  text-align: center; }

/*--------------------------Log-------------------------*/
.login {
  margin: 0; }
  .login #log {
    height: 100vh;
    width: 100vw;
    background: url("img/log-back.jpg"); }
    .login #log .valign {
      width: 100%; }
      .login #log .valign form {
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        -webkit-box-shadow: 3px 3px 0 0 #737373;
        box-shadow: 3px 3px 0 0 #737373;
        position: relative; }
        .login #log .valign form h3 {
          width: 100%;
          color: #fff;
          position: absolute;
          top: -50px;
          left: 0; }

#tiempo_horas{
	color: #333333;
	font-size: 40px;	
}
/*--------------------------css graficos-------------------------*/
.tema{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.titulo{
	font-size: 18px;
}
.subtitulo{
	font-size: 12px;
}

.scroll {    
    width: 100%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.classalert, .error{
	color:red;
}
/*--------------------------usuarios-------------------------*/
.usuario{
	cursor:pointer;
}

#mobile-demo li.search .search-wrapper {    
    transition: margin .25s ease;
    transition-property: margin;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
}

div.search-wrapper i{
	position: absolute;
	top: 20px;
	left:170px;
}
div.search-wrapper input#search{
	position: relative;
	left:10px;
	border: none;
}

select{
	display: block;
}

/*--------------------------responsive-------------------------*/
@media (min-width: 10px){
	body{
	overflow-x: hidden;
	//font-family: 'Titillium Web', sans-serif !important;
}
	.button-collapse i{
		position: relative;
		top:-40px;
	}
	.page-title{
		position: relative;
		left:10px;
	}
	
}
@media (min-width: 300px){
	.button-collapse i{
		position: relative;
		top:-40px;
	}
	.page-title{
		position: relative;
		left:10px;
	}
	.submit-centrado{
		margin-left: 15%;
	}
}
@media (min-width: 365px){
	.submit-centrado{
		margin-left: 20%;
	}
}
@media (min-width: 410px){
	.submit-centrado{
		margin-left: 22%;
	}
}
@media (min-width: 700px){
	.submit-centrado{
		margin-left: 35%;
	}
}
@media (min-width: 1023px){
	.centrado{
		margin-left:206px;
		width: 79%;
	}
	.menu-indicadores{
		font-size: 14px;
	}
	.page-title{
		position: relative;
		left:70px;
	}
	.submit-centrado{
		margin-left: 35%;
	}
	
}
@media (min-width: 1279px){
	.centrado{
		margin-left:210px;
		width: 83%;
	}
}
@media (min-width: 1439px){
	.centrado{
		margin-left:208px;
		width: 85%;
	}
	.submit-centrado{
		margin-left: 41%;
	}
}
@media (min-width: 1899px){
	.centrado{
		margin-left:208px;
		width: 89%;
	}
	.page-title{
		position: relative;
		left:-80px;
	}
	.submit-centrado{
		margin-left: 44%;
	}
}

