
/*--------------------------Theme Basis-------------------------*/
body{
	overflow-x: hidden;
	//font-family: 'Titillium Web', sans-serif !important;
}

h3 {
  background: #fc4349;
  width: 60%;
  height: 50px;
  position: relative;
  text-align: center; }
  h3:after {
    content: '';
    height: 50px;
    width: 50px;
    border: 25px solid #b11a1f;
    border-right: 25px solid transparent;
    position: absolute;
    right: -50px;
    top: 5px; }
  h3:before {
    content: '';
    height: 50px;
    width: 50px;
    border: 25px solid #b11a1f;
    border-left: 25px solid transparent;
    position: absolute;
    left: -50px;
    top: 5px; }
nav{
	background: #fc4349;
}

label.error{
	position: relative;
	color: red;
}

label.error.active{
	position: relative;
	color: red !important;
	font-size: 1rem;
}

/*--------------------------Log-------------------------*/
.login {
  margin: 0; }
  .login #log {
    height: 100vh;
    width: 100vw;
    background: url("../img/log-back.jpg"); }
    .login #log .valign {
      width: 100%; }
      .login #log .valign form {
        width: 400px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        -webkit-box-shadow: 3px 3px 0 0 #737373;
        box-shadow: 3px 3px 0 0 #737373;
        position: relative; }
        .login #log .valign form h3 {
          width: 100%;
          color: #fff;
          position: absolute;
          top: -50px;
          left: 0; }

/*-------------------------- menu --------------------------*/
.logo-menu{
	/*padding-bottom: 50px;*/
}
.bold {
    font-weight: bold;
}
.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 30px;
}
.side-nav a {
    height: auto; 
}
.side-nav li.aactive {
    background-color: rgba(0, 0, 0, 0.05);
}
#logout-header {
    display: inline;
    position: absolute;
    top: 0px;
    right: 20px;
}
#user-header {
    display: inline;
    position: absolute;
    top: 0px;
    right: 365px;
    padding-right: 10px;
}

#time-header {
    display: inline;
    position: absolute;
    top: 0px;
    right: 150px;
}

/*-------------------------- indicadores --------------------------*/
#tiempo_horas{
	color: #333333;
	font-size: 40px;	
}
select.initialized{
	display: none;
}
.center{
	text-align: center;
}
input.datepicker,input.select-dropdown{
	text-align: center;
}
.form-indicadores{
	margin-bottom: 50px;
}
div.filtrotipo{
	padding-bottom: 15px;
}

.filtroajax-titulo{
	text-align: center; 
	font-weight: bold; 
	text-decoration: underline;
}
#tiempo_promedio .submit-centrado{
	padding-left: 20px;
}
#resumen{
	/*margin: 5px;*/
	border:1px solid black;
}
input.datepickerperiodo1,input.datepickerperiodo2{
	text-align: center;
}

/*-------------------------- alarmas --------------------------*/
.alarmatipos{
	font-size: 20px !important;
}
.eliminaralarma{
	position: absolute;
	z-index: 100;
	cursor: pointer;
}
/*--------------------------css graficos-------------------------*/
.tema{
	text-align: center;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

.titulo{
	font-size: 18px;
}
.subtitulo{
	font-size: 12px;
}

.scroll {    
    width: 100%;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.classalert, .error{
	color:red;
}
/*--------------------------usuarios-------------------------*/
.usuario{
	cursor:pointer;
}

#mobile-demo li.search .search-wrapper {    
    transition: margin .25s ease;
    transition-property: margin;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: initial;
}

div.search-wrapper i{
	position: absolute;
	top: 20px;
	left:170px;
}
div.search-wrapper input#search{
	position: relative;
	left:10px;
	border: none;
}

select{
	display: block;
}
/*--------------------------Modals-------------------------*/
.modal {
  max-height: 90%; }
  .modal.modal-xs {
    width: 400px;
    max-height: 90%; }
  .modal .white {
    padding-bottom: 10px;
    position: relative;
    margin-top: 1rem;
    padding-top: 2rem !important; }
    .modal .white .row {
      margin-bottom: 10px; }
    .modal .white p {
      text-align: center; }
    .modal .white h4 {
      position: absolute;
      top: -17px;
      left: 0;
      width: 100%;
      background: #ee6e73;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 2rem;
      padding: 5px; }
  .modal .btn {
    margin-left: 15px !important; }
  .modal .inline p {
    display: inline-block; }
  .kiri {
    background: #d7dadb !important;
}
/*--------------------------reportes-------------------------*/
#livesearch{
	margin-top: -15px;	
	margin-bottom: 15px;	
}
#livesearch .livesearch-item{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#livesearch .livesearch-item:hover, .hovered{
	background: #26a69a;
	cursor: pointer;
}

/*--------------------------responsive-------------------------*/
@media (min-width: 10px){
	body{
		overflow-x: hidden;
		//font-family: 'Titillium Web', sans-serif !important;
	}
	.button-collapse i{
		position: relative;
		top:-40px;
	}
	.page-title{
		position: relative;
		left:10px;
	}
	.modal .white .row {
    	position: relative;
    	top: 20px;
	}
	#usuarioadd,#reiniciar_contrasena,#eliminar_usuario{
		margin-bottom: 5px;
	}
	.login #log .valign form{
		width: 200px;
	}
	.login #log .valign form h3{
		font-size: 2rem;
	}
}
@media (min-width: 300px){
	.button-collapse i{
		position: relative;
		top:-40px;
	}
	.page-title{
		position: relative;
		left:10px;
	}
	.submit-centrado{
		margin-left: 16%;
	}
	
	input.select-dropdown{
	    font-size: 0.86rem !important;
	}
	.filtroprincipal input.select-dropdown{
	    font-size: 1rem !important;
	}
	

}
@media (min-width: 365px){
	.submit-centrado{
		margin-left: 20%;
	}
	
	input.select-dropdown{
	    font-size: 1rem !important;
	}
	

}
@media (min-width: 410px){
	.submit-centrado{
		margin-left: 22%;
	}
	.login #log .valign form{
		width: 300px;
	}
	.login #log .valign form h3{
		font-size: 2.93rem;
	}
}
@media (min-width: 700px){
	.submit-centrado{
		margin-left: 35%;
	}
	.modal .white .row {
    	position: inherit;
    	top: auto;
	}
	.login #log .valign form{
		width: 400px;
	}
	.login #log .valign form h3{
		font-size: 2.93rem;
	}
}
@media (min-width: 1023px){
	.centrado{
		margin-left:206px;
		width: 79%;
	}
	.menu-indicadores{
		font-size: 14px;
	}
	.page-title{
		position: relative;
		left:70px;
	}
	.submit-centrado{
		margin-left: 35%;
	}
	.nav-wrapper{
		text-align: left;
	}
	
}

@media (min-width: 1279px){
	.centrado{
		margin-left:210px;
		width: 83%;
	}
	.submit-centrado{
		margin-left: 39%;
	}
}
@media (min-width: 1439px){
	.centrado{
		margin-left:208px;
		width: 85%;
	}
	.submit-centrado{
		margin-left: 41%;
	}
}
@media (min-width: 1899px){
	.centrado{
		margin-left:208px;
		width: 89%;
	}
	.page-title{
		position: relative;
		left:-80px;
	}
	.submit-centrado{
		margin-left: 44%;
	}
	#logout-header {
	    /*right: 250px;*/
	}
}

